
#menu {
    width: 20%;
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
}

#affichage {
    width: 75%;
    display: inline-block;
    font-size: 1.5em;
}

#affichage .categorie {
    width: 24%;
    display:inline-block;
    margin-top: 0px;
    padding: 0px;
}

#menu ul ul{
    display: none;
    margin-left: 20px;
}

#menu ul{
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #e5eecc;
}

.choisir{
    background-color: #d5ccee;
}

#partie3 {
    border: 1px solid black;
}

#choix {
    margin-top: 0px;
    padding: 0px;
}

button{
    font-size: 1.5em;
}

#prixEntree, #prixPrincipal, #prixDessert, #prixBoisson{
    font-size: 1.5em;
}

